html {
	font-family: 'Muli', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin:0px;
}

.cont-f {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.cont {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: 991px) {
	.cont {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.cont {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.cont {
		width: 1170px;
	}
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-4, .col-6, .col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-4, .col-6, .col-12 {
	float: left;
}
.col-12 {
	width: 100%;
}
.col-6 {
	width: 50%;
}
.col-4 {
	width: 33.33333333%;
}
@media screen and (max-width: 900px){
	.col-md-6{
		width: 50%;
	}
}
h1{
	font-size: 66px;
	font-weight: 100;
	color: rgb(68, 68, 68);
	height: 120px;
	line-height: 110px;
}
@media screen and (max-width: 700px){
	.col-xs-12{
		width: 100%;
	}
	h1{
		font-size: 40px;
		font-weight: 100;
		color: rgb(68, 68, 68);
		height: 120px;
		line-height: 110px;
	}
}
@media screen and (max-width: 500px){
	.col-xxs-12{
		width: 100%;
	}
	.btn-order{
		padding: 5px 13px!important;
		font-size: 13px!important;		
	}
}
.ml-1{
	margin-left:1em;
}
.mt-2{
	margin-top:2em;
}
.mb-2{
	margin-bottom:2em;
}
.ml-1{
	margin-left:1em;
}
.mr-5px{
	margin-right:5px;
}
.bg-grey{
	background: #eee;
}

.bg-light-blue{
			background: rgb(123, 167, 186);
}
#input-search{
		margin: 12px 5px;
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 35px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
}

.float-right {
	float: right !important;
}
.float-left {
	float: left !important;
}
.btn-order{
		margin-left: 5px;
		border-radius: 3px;
		border: 1px solid rgb(240, 173, 78);
		background: rgb(240, 173, 78);
		color: rgb(252, 244, 222);
		display: inline-block;
		padding: 6px 15px;
		margin-bottom: 5px;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.628571;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		margin-top: 10px;
}
.btn-order:hover{
	box-shadow: 0 0px 9px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19) !important
}
.btn-order-active{
	background:rgb(157, 90, 30);;
}
.input-search::-webkit-input-placeholder {
	color: #aaa;
}
#search-box p{
	line-height: 26px;
	color: rgb(68, 68, 68);
}
.cont:before,
.cont:after,
.cont-f:before,
.cont-f:after,
.row:before,
.row:after{
	content: " ";
	display: table;
}
.cont:after,
.cont-f:after,
.row:after {
	clear: both;
}
#items .img-item{
	width:100%;
}
#items .img-cont{
	background: rgb(236, 238, 239);
	display: grid;
	min-height: 100px;
}
@media screen and (min-width: 1100px){
	#items .img-cont{
		min-height: 180px;
	}
}
#items h2{
	margin: 15px 0px 8px 0px;
}
#items .item-likes{
	background: rgb(255, 255, 255);
	border-radius: 2px;
	padding: 2px;
	position: absolute;
	margin: 4px;
	right: 15px;
	color:black;
	font-size: 13px;
}
#items .item-tag{
	background: #999999;
	color: rgb(255, 255, 255);
	padding: 2px 5px;
	border-radius: 3px;
	display: inline-grid;
	margin-top: 2px;
	margin-right: 3px;
	font-size: 13px;
}
#items .item-date{
	font-size: 12px;
	padding: 4px 0px;
}
#items .item-tags{
	height:4em;
}
#items-footer{
	border: 0.5px solid #ccc;
}